# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files
backend/railway.db
backend/railway.db-journal

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Diagnostic/Log files
logs
*.log

# Project specific ignores
documents/
assets/

